.vs
Library
Logs
obj
Temp
UserSettings
.vsconfig
*.csproj
*.sln
GGJ2024_1_26/Assets/Allsky/Anime/Anime Day/Anime Day Equirect.png
GGJ2024_1_26/Assets/Allsky/Anime/Anime Night/Anime Night Equirect.png
GGJ2024_1_26/Assets/Allsky/Anime/Anime Sunset/Anime Sunset Equirect.png
GGJ2024_1_26/Assets/Allsky/Anime/Anime Day/Anime Day Equirect.mat
